@-webkit-keyframes _text_ {
  0%,
  23% {
    opacity: 0; }

  35%,
  60% {
    opacity: 1; }

  67%,
  100% {
    opacity: 0; } }

@-moz-keyframes _text_ {
  0%,
  23% {
    opacity: 0; }

  35%,
  60% {
    opacity: 1; }

  67%,
  100% {
    opacity: 0; } }

@keyframes _text_ {
  0%,
  23% {
    opacity: 0; }

  35%,
  60% {
    opacity: 1; }

  67%,
  100% {
    opacity: 0; } }

@-webkit-keyframes zero_0 {
  0% {
    -webkit-transform: rotate(0deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -webkit-transform: rotate(-35deg) translate3D(0, 20px, 0); }

  100% {
    -webkit-transform: rotate(360deg) translate3D(0, 20px, 0); } }

@-webkit-keyframes zero_1 {
  0% {
    -webkit-transform: rotate(0deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -webkit-transform: rotate(85deg) translate3D(0, 20px, 0); }

  100% {
    -webkit-transform: rotate(360deg) translate3D(0, 20px, 0); } }

@-webkit-keyframes zero_2 {
  0% {
    -webkit-transform: rotate(360deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -webkit-transform: rotate(205deg) translate3D(0, 20px, 0); }

  100% {
    -webkit-transform: rotate(0deg) translate3D(0, 20px, 0); } }

@-webkit-keyframes one_0 {
  0% {
    -webkit-transform: rotate(0deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -webkit-transform: rotate(13deg) translate3D(0, 20px, 0); }

  100% {
    -webkit-transform: rotate(360deg) translate3D(0, 20px, 0); } }

@-webkit-keyframes one_1 {
  0% {
    -webkit-transform: rotate(0deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -webkit-transform: rotate(133deg) translate3D(0, 20px, 0); }

  100% {
    -webkit-transform: rotate(360deg) translate3D(0, 20px, 0); } }

@-webkit-keyframes one_2 {
  0% {
    -webkit-transform: rotate(360deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -webkit-transform: rotate(253deg) translate3D(0, 20px, 0); }

  100% {
    -webkit-transform: rotate(0deg) translate3D(0, 20px, 0); } }

@-webkit-keyframes two_0 {
  0% {
    -webkit-transform: rotate(0deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -webkit-transform: rotate(61deg) translate3D(0, 20px, 0); }

  100% {
    -webkit-transform: rotate(360deg) translate3D(0, 20px, 0); } }

@-webkit-keyframes two_1 {
  0% {
    -webkit-transform: rotate(0deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -webkit-transform: rotate(181deg) translate3D(0, 20px, 0); }

  100% {
    -webkit-transform: rotate(360deg) translate3D(0, 20px, 0); } }

@-webkit-keyframes two_2 {
  0% {
    -webkit-transform: rotate(360deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -webkit-transform: rotate(301deg) translate3D(0, 20px, 0); }

  100% {
    -webkit-transform: rotate(0deg) translate3D(0, 20px, 0); } }

@-webkit-keyframes dot_0 {
  0% {
    -webkit-transform: rotate(0deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -webkit-transform: rotate(75deg) translate3D(0, 20px, 0); }

  100% {
    -webkit-transform: rotate(360deg) translate3D(0, 20px, 0); } }

@-webkit-keyframes dot_1 {
  0% {
    -webkit-transform: rotate(0deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -webkit-transform: rotate(195deg) translate3D(0, 20px, 0); }

  100% {
    -webkit-transform: rotate(360deg) translate3D(0, 20px, 0); } }

@-webkit-keyframes dot_2 {
  0% {
    -webkit-transform: rotate(360deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -webkit-transform: rotate(315deg) translate3D(0, 20px, 0); }

  100% {
    -webkit-transform: rotate(0deg) translate3D(0, 20px, 0); } }

@-moz-keyframes zero_0 {
  0% {
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -moz-transform: rotate(325deg) translate3D(0, 20px, 0); }

  100% {
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0); } }

@-moz-keyframes zero_1 {
  0% {
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -moz-transform: rotate(85deg) translate3D(0, 20px, 0); }

  100% {
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0); } }

@-moz-keyframes zero_2 {
  0% {
    -moz-transform: rotate(360deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -moz-transform: rotate(205deg) translate3D(0, 20px, 0); }

  100% {
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0); } }

@-moz-keyframes one_0 {
  0% {
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -moz-transform: rotate(13deg) translate3D(0, 20px, 0); }

  100% {
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0); } }

@-moz-keyframes one_1 {
  0% {
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -moz-transform: rotate(133deg) translate3D(0, 20px, 0); }

  100% {
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0); } }

@-moz-keyframes one_2 {
  0% {
    -moz-transform: rotate(360deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -moz-transform: rotate(253deg) translate3D(0, 20px, 0); }

  100% {
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0); } }

@-moz-keyframes two_0 {
  0% {
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -moz-transform: rotate(61deg) translate3D(0, 20px, 0); }

  100% {
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0); } }

@-moz-keyframes two_1 {
  0% {
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -moz-transform: rotate(181deg) translate3D(0, 20px, 0); }

  100% {
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0); } }

@-moz-keyframes two_2 {
  0% {
    -moz-transform: rotate(360deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -moz-transform: rotate(301deg) translate3D(0, 20px, 0); }

  100% {
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0); } }

@-moz-keyframes dot_0 {
  0% {
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -moz-transform: rotate(75deg) translate3D(0, 20px, 0); }

  100% {
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0); } }

@-moz-keyframes dot_1 {
  0% {
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -moz-transform: rotate(195deg) translate3D(0, 20px, 0); }

  100% {
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0); } }

@-moz-keyframes dot_2 {
  0% {
    -moz-transform: rotate(360deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -moz-transform: rotate(315deg) translate3D(0, 20px, 0); }

  100% {
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0); } }

@keyframes zero_0 {
  0% {
    -webkit-transform: rotate(0deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0);
    transform: rotate(0deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -webkit-transform: rotate(325deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(325deg) translate3D(0, 20px, 0);
    transform: rotate(325deg) translate3D(0, 20px, 0); }

  100% {
    -webkit-transform: rotate(360deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(360deg) translate3D(0, 20px, 0);
    transform: rotate(360deg) translate3D(0, 20px, 0); } }

@keyframes zero_1 {
  0% {
    -webkit-transform: rotate(0deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0);
    transform: rotate(0deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -webkit-transform: rotate(85deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(85deg) translate3D(0, 20px, 0);
    transform: rotate(85deg) translate3D(0, 20px, 0); }

  100% {
    -webkit-transform: rotate(360deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(360deg) translate3D(0, 20px, 0);
    transform: rotate(360deg) translate3D(0, 20px, 0); } }

@keyframes zero_2 {
  0% {
    -webkit-transform: rotate(360deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(360deg) translate3D(0, 20px, 0);
    transform: rotate(360deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -webkit-transform: rotate(205deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(205deg) translate3D(0, 20px, 0);
    transform: rotate(205deg) translate3D(0, 20px, 0); }

  100% {
    -webkit-transform: rotate(0deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0);
    transform: rotate(0deg) translate3D(0, 20px, 0); } }

@keyframes one_0 {
  0% {
    -webkit-transform: rotate(0deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0);
    transform: rotate(0deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -webkit-transform: rotate(13deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(13deg) translate3D(0, 20px, 0);
    transform: rotate(13deg) translate3D(0, 20px, 0); }

  100% {
    -webkit-transform: rotate(360deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(360deg) translate3D(0, 20px, 0);
    transform: rotate(360deg) translate3D(0, 20px, 0); } }

@keyframes one_1 {
  0% {
    -webkit-transform: rotate(0deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0);
    transform: rotate(0deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -webkit-transform: rotate(133deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(133deg) translate3D(0, 20px, 0);
    transform: rotate(133deg) translate3D(0, 20px, 0); }

  100% {
    -webkit-transform: rotate(360deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(360deg) translate3D(0, 20px, 0);
    transform: rotate(360deg) translate3D(0, 20px, 0); } }

@keyframes one_2 {
  0% {
    -webkit-transform: rotate(360deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(360deg) translate3D(0, 20px, 0);
    transform: rotate(360deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -webkit-transform: rotate(253deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(253deg) translate3D(0, 20px, 0);
    transform: rotate(253deg) translate3D(0, 20px, 0); }

  100% {
    -webkit-transform: rotate(0deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0);
    transform: rotate(0deg) translate3D(0, 20px, 0); } }

@keyframes two_0 {
  0% {
    -webkit-transform: rotate(0deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0);
    transform: rotate(0deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -webkit-transform: rotate(61deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(61deg) translate3D(0, 20px, 0);
    transform: rotate(61deg) translate3D(0, 20px, 0); }

  100% {
    -webkit-transform: rotate(360deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(360deg) translate3D(0, 20px, 0);
    transform: rotate(360deg) translate3D(0, 20px, 0); } }

@keyframes two_1 {
  0% {
    -webkit-transform: rotate(0deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0);
    transform: rotate(0deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -webkit-transform: rotate(181deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(181deg) translate3D(0, 20px, 0);
    transform: rotate(181deg) translate3D(0, 20px, 0); }

  100% {
    -webkit-transform: rotate(360deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(360deg) translate3D(0, 20px, 0);
    transform: rotate(360deg) translate3D(0, 20px, 0); } }

@keyframes two_2 {
  0% {
    -webkit-transform: rotate(360deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(360deg) translate3D(0, 20px, 0);
    transform: rotate(360deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -webkit-transform: rotate(301deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(301deg) translate3D(0, 20px, 0);
    transform: rotate(301deg) translate3D(0, 20px, 0); }

  100% {
    -webkit-transform: rotate(0deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0);
    transform: rotate(0deg) translate3D(0, 20px, 0); } }

@keyframes dot_0 {
  0% {
    -webkit-transform: rotate(0deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0);
    transform: rotate(0deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -webkit-transform: rotate(75deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(75deg) translate3D(0, 20px, 0);
    transform: rotate(75deg) translate3D(0, 20px, 0); }

  100% {
    -webkit-transform: rotate(360deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(360deg) translate3D(0, 20px, 0);
    transform: rotate(360deg) translate3D(0, 20px, 0); } }

@keyframes dot_1 {
  0% {
    -webkit-transform: rotate(0deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0);
    transform: rotate(0deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -webkit-transform: rotate(195deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(195deg) translate3D(0, 20px, 0);
    transform: rotate(195deg) translate3D(0, 20px, 0); }

  100% {
    -webkit-transform: rotate(360deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(360deg) translate3D(0, 20px, 0);
    transform: rotate(360deg) translate3D(0, 20px, 0); } }

@keyframes dot_2 {
  0% {
    -webkit-transform: rotate(360deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(360deg) translate3D(0, 20px, 0);
    transform: rotate(360deg) translate3D(0, 20px, 0); }

  35%,
  65% {
    -webkit-transform: rotate(315deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(315deg) translate3D(0, 20px, 0);
    transform: rotate(315deg) translate3D(0, 20px, 0); }

  100% {
    -webkit-transform: rotate(0deg) translate3D(0, 20px, 0);
    -moz-transform: rotate(0deg) translate3D(0, 20px, 0);
    transform: rotate(0deg) translate3D(0, 20px, 0); } }

#spirograph.post {
  padding: 60px 0; }

.wrapper {
  width: 650px;
  height: 350px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }

.circle {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 180px;
  top: -165px;
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -o-transform-origin: bottom center;
  transform-origin: bottom center;
  border-radius: 50%;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
  -webkit-filter: opacity(0.8) saturate(140%) contrast(1.4) brightness(60%) drop-shadow(rgba(0, 0, 0, 0.1) 1px 2px 1px);
  -apple-filter: opacity(0.8) saturate(140%) contrast(1.4) brightness(-25%) drop-shadow(rgba(0, 0, 0, 0.1) 1px 2px 1px);
  -moz-filter: opacity(0.8) saturate(140%) contrast(1.4) brightness(60%) drop-shadow(rgba(0, 0, 0, 0.1) 1px 2px 1px);
  -o-filter: opacity(0.8) saturate(140%) contrast(1.4) brightness(-25%) drop-shadow(rgba(0, 0, 0, 0.1) 1px 2px 1px);
  filter: opacity(0.8) saturate(140%) contrast(1.4) brightness(60%) drop-shadow(rgba(0, 0, 0, 0.1) 1px 2px 1px);
  -webkit-transition: -webkit-transform 3s 0.5s;
  -moz-transition: -moz-transform 3s 0.5s;
  -ms-transition: -ms-transform 3s 0.5s;
  -o-transition: -o-transform 3s 0.5s;
  transition: transform 3s 0.5s;
  -webkit-transform: rotate(0deg) translateY(20px);
  -moz-transform: rotate(0deg) translateY(20px);
  -ms-transform: rotate(0deg) translateY(20px);
  -o-transform: rotate(0deg) translateY(20px);
  transform: rotate(0deg) translateY(20px); }

.c0 {
  z-index: 3;
  background-image: -webkit-radial-gradient(rgba(242, 234, 217, 0.2) -5%, rgba(73, 218, 213, 0.5) 90%);
  background-image: -moz-radial-gradient(rgba(242, 234, 217, 0.2) -5%, rgba(73, 218, 213, 0.5) 90%);
  background-image: -o-radial-gradient(rgba(242, 234, 217, 0.2) -5%, rgba(73, 218, 213, 0.5) 90%);
  background-image: radial-gradient(rgba(242, 234, 217, 0.2) -5%, rgba(73, 218, 213, 0.5) 90%);
  -webkit-animation: zero_0 10s infinite forwards normal ease-in-out;
  -moz-animation: zero_0 10s infinite forwards normal ease-in-out;
  animation: zero_0 10s infinite forwards normal ease-in-out; }

.c1 {
  z-index: 1;
  background-image: -webkit-radial-gradient(rgba(255, 255, 255, 0) -10%, rgba(255, 204, 102, 0.8) 90%);
  background-image: -moz-radial-gradient(rgba(255, 255, 255, 0) -10%, rgba(255, 204, 102, 0.8) 90%);
  background-image: -o-radial-gradient(rgba(255, 255, 255, 0) -10%, rgba(255, 204, 102, 0.8) 90%);
  background-image: radial-gradient(rgba(255, 255, 255, 0) -10%, rgba(255, 204, 102, 0.8) 90%);
  -webkit-animation: one_0 10s infinite forwards normal ease-in-out;
  -moz-animation: one_0 10s infinite forwards normal ease-in-out;
  animation: one_0 10s infinite forwards normal ease-in-out; }

.c2 {
  z-index: 2;
  background-image: -webkit-radial-gradient(rgba(255, 255, 255, 0) -5%, rgba(204, 51, 122, 0.8) 90%);
  background-image: -moz-radial-gradient(rgba(255, 255, 255, 0) -5%, rgba(204, 51, 122, 0.8) 90%);
  background-image: -o-radial-gradient(rgba(255, 255, 255, 0) -5%, rgba(204, 51, 122, 0.8) 90%);
  background-image: radial-gradient(rgba(255, 255, 255, 0) -5%, rgba(204, 51, 122, 0.8) 90%);
  -webkit-animation: two_0 10s infinite forwards normal ease-in-out;
  -moz-animation: two_0 10s infinite forwards normal ease-in-out;
  animation: two_0 10s infinite forwards normal ease-in-out; }

.c3 {
  z-index: 3;
  background-image: -webkit-radial-gradient(rgba(242, 234, 217, 0.2) -5%, rgba(73, 218, 213, 0.5) 90%);
  background-image: -moz-radial-gradient(rgba(242, 234, 217, 0.2) -5%, rgba(73, 218, 213, 0.5) 90%);
  background-image: -o-radial-gradient(rgba(242, 234, 217, 0.2) -5%, rgba(73, 218, 213, 0.5) 90%);
  background-image: radial-gradient(rgba(242, 234, 217, 0.2) -5%, rgba(73, 218, 213, 0.5) 90%);
  -webkit-animation: zero_1 10s infinite forwards normal ease-in-out;
  -moz-animation: zero_1 10s infinite forwards normal ease-in-out;
  animation: zero_1 10s infinite forwards normal ease-in-out; }

.c4 {
  z-index: 1;
  background-image: -webkit-radial-gradient(rgba(255, 255, 255, 0) -10%, rgba(255, 204, 102, 0.8) 90%);
  background-image: -moz-radial-gradient(rgba(255, 255, 255, 0) -10%, rgba(255, 204, 102, 0.8) 90%);
  background-image: -o-radial-gradient(rgba(255, 255, 255, 0) -10%, rgba(255, 204, 102, 0.8) 90%);
  background-image: radial-gradient(rgba(255, 255, 255, 0) -10%, rgba(255, 204, 102, 0.8) 90%);
  -webkit-animation: one_1 10s infinite forwards normal ease-in-out;
  -moz-animation: one_1 10s infinite forwards normal ease-in-out;
  animation: one_1 10s infinite forwards normal ease-in-out; }

.c5 {
  z-index: 2;
  background-image: -webkit-radial-gradient(rgba(255, 255, 255, 0) -5%, rgba(204, 51, 122, 0.8) 90%);
  background-image: -moz-radial-gradient(rgba(255, 255, 255, 0) -5%, rgba(204, 51, 122, 0.8) 90%);
  background-image: -o-radial-gradient(rgba(255, 255, 255, 0) -5%, rgba(204, 51, 122, 0.8) 90%);
  background-image: radial-gradient(rgba(255, 255, 255, 0) -5%, rgba(204, 51, 122, 0.8) 90%);
  -webkit-animation: two_1 10s infinite forwards normal ease-in-out;
  -moz-animation: two_1 10s infinite forwards normal ease-in-out;
  animation: two_1 10s infinite forwards normal ease-in-out; }

.c6 {
  z-index: 3;
  background-image: -webkit-radial-gradient(rgba(242, 234, 217, 0.2) -5%, rgba(73, 218, 213, 0.5) 90%);
  background-image: -moz-radial-gradient(rgba(242, 234, 217, 0.2) -5%, rgba(73, 218, 213, 0.5) 90%);
  background-image: -o-radial-gradient(rgba(242, 234, 217, 0.2) -5%, rgba(73, 218, 213, 0.5) 90%);
  background-image: radial-gradient(rgba(242, 234, 217, 0.2) -5%, rgba(73, 218, 213, 0.5) 90%);
  -webkit-animation: zero_2 10s infinite forwards normal ease-in-out;
  -moz-animation: zero_2 10s infinite forwards normal ease-in-out;
  animation: zero_2 10s infinite forwards normal ease-in-out; }

.c7 {
  z-index: 1;
  background-image: -webkit-radial-gradient(rgba(255, 255, 255, 0) -10%, rgba(255, 204, 102, 0.8) 90%);
  background-image: -moz-radial-gradient(rgba(255, 255, 255, 0) -10%, rgba(255, 204, 102, 0.8) 90%);
  background-image: -o-radial-gradient(rgba(255, 255, 255, 0) -10%, rgba(255, 204, 102, 0.8) 90%);
  background-image: radial-gradient(rgba(255, 255, 255, 0) -10%, rgba(255, 204, 102, 0.8) 90%);
  -webkit-animation: one_2 10s infinite forwards normal ease-in-out;
  -moz-animation: one_2 10s infinite forwards normal ease-in-out;
  animation: one_2 10s infinite forwards normal ease-in-out; }

.c8 {
  z-index: 2;
  background-image: -webkit-radial-gradient(rgba(255, 255, 255, 0) -5%, rgba(204, 51, 122, 0.8) 90%);
  background-image: -moz-radial-gradient(rgba(255, 255, 255, 0) -5%, rgba(204, 51, 122, 0.8) 90%);
  background-image: -o-radial-gradient(rgba(255, 255, 255, 0) -5%, rgba(204, 51, 122, 0.8) 90%);
  background-image: radial-gradient(rgba(255, 255, 255, 0) -5%, rgba(204, 51, 122, 0.8) 90%);
  -webkit-animation: two_2 10s infinite forwards normal ease-in-out;
  -moz-animation: two_2 10s infinite forwards normal ease-in-out;
  animation: two_2 10s infinite forwards normal ease-in-out; }

.c9 {
  z-index: 3;
  background-image: -webkit-radial-gradient(rgba(242, 234, 217, 0.2) -5%, rgba(73, 218, 213, 0.5) 90%);
  background-image: -moz-radial-gradient(rgba(242, 234, 217, 0.2) -5%, rgba(73, 218, 213, 0.5) 90%);
  background-image: -o-radial-gradient(rgba(242, 234, 217, 0.2) -5%, rgba(73, 218, 213, 0.5) 90%);
  background-image: radial-gradient(rgba(242, 234, 217, 0.2) -5%, rgba(73, 218, 213, 0.5) 90%);
  -webkit-animation: zero_2 10s infinite forwards normal ease-in-out;
  -moz-animation: zero_2 10s infinite forwards normal ease-in-out;
  animation: zero_2 10s infinite forwards normal ease-in-out; }

div[class*=d] {
  border: 2px dotted white;
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.4) 1px 2px 1px);
  -moz-filter: drop-shadow(rgba(0, 0, 0, 0.4) 1px 2px 1px);
  -o-filter: drop-shadow(rgba(0, 0, 0, 0.4) 1px 2px 1px);
  filter: drop-shadow(rgba(0, 0, 0, 0.4) 1px 2px 1px);
  z-index: 5;
  top: -135px;
  left: 190px;
  height: 270px;
  width: 270px;
  -webkit-transition: -webkit-transform 3.5s 0.5s;
  -moz-transition: -moz-transform 3.5s 0.5s;
  -ms-transition: -ms-transform 3.5s 0.5s;
  -o-transition: -o-transform 3.5s 0.5s;
  transition: transform 3.5s 0.5s; }

.go.d0 {
  -webkit-animation: dot_0 10s infinite forwards normal ease-in-out;
  -moz-animation: dot_0 10s infinite forwards normal ease-in-out;
  animation: dot_0 10s infinite forwards normal ease-in-out; }

.go.d1 {
  -webkit-animation: dot_1 10s infinite forwards normal ease-in-out;
  -moz-animation: dot_1 10s infinite forwards normal ease-in-out;
  animation: dot_1 10s infinite forwards normal ease-in-out; }

.go.d2 {
  -webkit-animation: dot_2 10s infinite forwards normal ease-in-out;
  -moz-animation: dot_2 10s infinite forwards normal ease-in-out;
  animation: dot_2 10s infinite forwards normal ease-in-out; }

.text {
  opacity: 0;
  font-family: sans-serif;
  font-size: 3em;
  font-weight: bold;
  position: absolute;
  top: -5px;
  left: 150px;
  z-index: 6;
  color: white;
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.2), -1px -1px 2px rgba(255, 255, 255, 0.2);
  -webkit-transition: opacity 2s 3.5s;
  -moz-transition: opacity 2s 3.5s;
  -ms-transition: opacity 2s 3.5s;
  -o-transition: opacity 2s 3.5s;
  transition: opacity 2s 3.5s; }

.go.text {
  -webkit-animation: _text_ 10s infinite forwards normal ease-in-out;
  -moz-animation: _text_ 10s infinite forwards normal ease-in-out;
  animation: _text_ 10s infinite forwards normal ease-in-out; }

.link {
  margin: -18px 0 0;
  display: block;
  color: #99ccff;
  font-size: 25px;
  text-decoration: none;
  -webkit-transition: color 0.3s 0.5s;
  -moz-transition: color 0.3s 0.5s;
  -ms-transition: color 0.3s 0.5s;
  -o-transition: color 0.3s 0.5s;
  transition: color 0.3s 0.5s;
  text-decoration: underline;
  text-decoration: navy dotted; }

.link:hover {
  color: #3399ff; }
