#rafael.post {
  padding: 60px 0;
  position: relative; }

.paper {
  top: 50px;
  left: 225px;
  display: block;
  position: absolute; }

.shadow {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -ms-filter: blur(4px);
  -o-filter: blur(4px);
  filter: blur(4px);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  #svg.post:hover .shadow {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    -o-filter: blur(1px);
    filter: blur(1px);
    top: 34px;
    left: 227px; }

#paper {
  top: 50px;
  left: 260px;
  width: 350px;
  height: 350px;
  display: block;
  position: absolute; }
